.container {
    display: flex;
}
.sidebar {
    margin-left: 50px;
}


.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #2c3e50;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: dimgray;
}

.mini-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #2c3e50;
}

.mini-grid div {
    width: 20px;
    height: 20px;
}